- title "search"
#search_results
  - if @results && @results.length > 0
    %h2= "Results #{@results.total_count}"

    - if (@results.length > 0 rescue false)
      = render partial: 'documents/list_item', collection: @results

      %br
      - begin
        = paginate @results
      - rescue

  - elsif !params[:search].blank?
    %p
      %em= params[:search]
      did not return any results
