- title "search"

%h1= "Search #{@results.total_count rescue ''}"

= form_tag search_path, :method => :get do
  %p
    = text_field_tag :search, params[:search]
    = submit_tag "Search", name: nil

%br

- if (@results.length > 0 rescue false)
  - @results.each do |document|
    %p
      = link_to document.title, document.uri, target: '_blank'
      >
      = link_to 'Show', document
      = link_to 'Edit', edit_document_path(document)
      = link_to 'Destroy', document, :confirm => 'Are you sure?', :method => :delete

  %br
  - begin
    = paginate @results
  - rescue

- elsif !params[:search].blank?
  %p
    %em= params[:search]
    did not return any results
