- title "documents"

%h2= "Documents #{@documents.total_count}"
%p
  = link_to 'New Document', new_document_path

%br

= render partial: 'list_item', collection: @documents

%br

= paginate @documents
