%h1= "Documents #{@documents.total_count rescue ''}"
%p
  = link_to 'New Document', new_document_path

= form_tag documents_path, :method => :get do
  %p
    = text_field_tag :search, params[:search]
    = submit_tag "Search", name: nil

%br

- if (@documents.length > 0 rescue false)
  - @documents.each do |document|
    %p
      = link_to document.title, document.uri, target: '_blank'
      >
      = link_to 'Show', document
      = link_to 'Edit', edit_document_path(document)
      = link_to 'Destroy', document, :confirm => 'Are you sure?', :method => :delete

  %br
  - begin
    = paginate @documents
  - rescue

- elsif !params[:search].blank?
  %p
    %em= params[:search]
    did not return any results
