- title @document.title

%h2= @document.title || @document.uri
%nav
  = link_to 'Edit', edit_document_path(@document)

%p= link_to @document.uri, @document.uri, target: '_blank'

%h3= "Links #{@document.links.length}"
%p
  - @document.links.each do |link|
    = link_to link, link

%h3= "Contents #{@document.contents.length}"
%p
  - @document.contents.each do |content|
    %a= content
