- title @document.title

%h1= @document.title
%nav
  = link_to 'Edit', edit_document_path(@document)
  \|
  = link_to 'Back', documents_path

%p= link_to @document.uri, @document.uri, target: '_blank'

%h2= "Links #{@document.links.length}"
%p
  - @document.links.each do |link|
    = link_to link, link

%h2= "Contents #{@document.contents.length}"
%p
  - @document.contents.each do |content|
    %a= content
