!!! 5
%html
  %head
    %title= "erudite #{" | #{yield(:title)}" if content_for?(:title)}"
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags
  %body
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)

    %header
      = render 'shared/navigation'

      %h1 Erudite
      = render 'shared/site_navigation'
      = render 'shared/search'

    = yield
